%% -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 
 {{{srvid}}, [
 		{data_stores, [
 			       {mysql, [
 					{db_pool_name, {{mysql_poolname}} },
 					{db_pool_size, {{mysql_poolsize}} },
 					{db_user, {{mysql_user}} },
 					{db_pass, {{mysql_password}} },
 					{db_host, {{mysql_host}} },
 					{db_port, {{mysql_port}} },
 					{db_name, {{mysql_database}} },
 					{db_encoding, {{mysql_encoding}} }
 				       ]}
 			      ]},
		{lager, [
			 {handlers, [
				     {lager_file_backend, [{level,error}, {file, "error.log"}]},
				     {lager_file_backend, [{level,console}, {file, "info.log"}]}
				    ]}
			]}
	       ]
 }
].

